<!DOCTYPE html>
<html>
<head>
  <title>Mailfox</title>
  <%= stylesheet_link_tag    "mailfox/application", media: "all" %>
  <%= javascript_include_tag "mailfox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
